.card-about {
  position: relative;
  z-index: 1;

  &__wrapper {
    display: flex;
    min-height: 37.03125vw;

    @include max-width($touch) {
      display: block;
      min-height: inherit;
    }
  }

  &__banner {
    flex: 1 1 620px;

    @include max-width($touch) {
      flex: auto;
      width: 100%;
      height: 376px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    display: flex;
    flex: 1 1 1096px;
    padding: 40px;
    background-color: var(--white);

    @include max-width($touch) {
      display: block;
      padding: 32px 20px;
    }
  }

  &__content {
    max-width: 752px;
    margin: auto;
  }

  &__title {
    position: relative;
    margin-bottom: 1.875vw;

    @include max-width($touch) {
      margin-bottom: 20px;
    }

    &::after {
      bottom: 0;
      left: 0;
      display: block;
      width: 104px;
      height: 5px;
      margin-top: 1.875vw;
      margin-bottom: 1.875vw;
      content: '';
      background-color: var(--primary-default);
      border-radius: 4px;

      @include max-width($touch) {
        width: 64px;
        height: 4px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  &__descr {
    p {
      font-family: $second-font;
      font-size: 1.125rem;
      font-weight: 300;
      line-height: 1.5555;

      @include max-width($touch) {
        font-size: 14px;
        line-height: 1.4285714285;
      }

      &:not(:last-child) {
        // margin-bottom: 3.125vw;
        margin-bottom: 1.25vw;

        @include max-width($touch) {
          margin-bottom: 16px;
        }
      }
    }
  }
}
