.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  background-color: rgba(var(--black-rgb), 0.5);
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
  }

  &.active {
    visibility: visible;
    opacity: 1;
    .modal {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.modal {
  position: relative;
  z-index: 11;
  display: inline-block;
  width: 100%;
  max-width: 480px;
  padding: 1.5rem;
  font-size: 1rem;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  background-color: $white;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: scale(0.6);

  &--small {
    max-width: 32.125rem;
  }

  &--medium {
    max-width: 540px;
  }

  &--large {
    max-width: 86.375rem;
  }

  &--no-padding {
    padding-right: 0;
    padding-left: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button-close {
      margin: 0 0 0 auto;
    }
  }

  &__subtitle {
    margin: 0 0 1rem;
    font-size: 1.25rem;
  }

  &__text {
    line-height: 1.5;
    color: var(--secondary-6);
    text-align: left;
  }

  &__icon-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  &__icon {
    width: 1em;
    min-width: 1em;
    height: 1em;
    min-height: 1em;
    margin: auto;
    font-size: 5rem;
  }

  &__footer {
    padding-top: 1rem;
    margin-top: 1.5rem;
  }

  &__actions {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .button {
      margin: 0;

      &:not(:last-of-type) {
        margin-right: 1.5rem;
      }

      &--secondary {
        --color: var(--secondary-7);
        --border-color: var(--secondary-7);
      }
    }
  }
}
