.about {
  padding: 100px 0;

  &__decor-title {
    font-size: 9rem;
    font-weight: 700;
    line-height: 1.389;
    // -webkit-text-stroke: 1px white;
    // -webkit-text-fill-color: transparent;
    color: var(--bg-main);
    text-shadow: -0 -1px 0 #fff, 0 -1px 0 #fff, -0 1px 0 #fff, 0 1px 0 #fff,
      -1px -0 0 #fff, 1px -0 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff,
      -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff,
      -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    text-transform: uppercase;

    // &--top {
    // }

    // &--bottom {
    // }
  }
}
