.about {
  padding: 100px 0;

  &__decor-title {
    font-weight: 700;
    font-size: 9rem;
    line-height: 1.389;
    text-transform: uppercase;
    // -webkit-text-stroke: 1px white;
    // -webkit-text-fill-color: transparent;
    color: var(--bg-main);
    text-shadow: -0 -1px 0 #ffffff, 0 -1px 0 #ffffff, -0 1px 0 #ffffff,
      0 1px 0 #ffffff, -1px -0 0 #ffffff, 1px -0 0 #ffffff, -1px 0 0 #ffffff,
      1px 0 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff,
      -1px 1px 0 #ffffff, 1px 1px 0 #ffffff, -1px -1px 0 #ffffff,
      1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;

    // &--top {
    // }

    // &--bottom {
    // }
  }
}
