<!-- picture modal -->
<div class="modal-wrapper j_modal modal-wrapper--picture" id="modal-picture">
  <div class="modal modal--large">
    <div class="modal__wrap">
      <div class="modal__header">
        <h3 class="modal__title"> Карта-схема номерного фонда </h3>

        <button class="button button-close j_closeModal">
          <svg class="button__icon">
            <use xlink:href="svg/sprite.svg#close"></use>
          </svg>
        </button>
      </div>

      <div class="modal__body">
        <div class="modal-picture">
          <div class="modal-picture__container j_modalPanzoom">
            <img src="../../img/map.jpg" alt="" class="modal-picture__img" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--./ End of picture modal -->
