<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>{{ title }}</title>
  </head>

  <body>
    {{> sections/header }}
    <!--  -->
    {{> sections/menu }}

    <div data-scroll-container class="scroll-container">
      <div data-scroll-section class="content">
        <main>
          {{> sections/hero }}
          {{> sections/offers }}
          {{> sections/about }}
          {{> sections/map }}
          {{> sections/rooms }}
          {{> sections/about-with-slider }}
          {{> sections/services }}
        </main>

        {{> sections/footer }}
      </div>
    </div>

    <!-- tooltips -->
    {{> tooltips/balloon }}

    <!-- modals -->
    {{> modals/picture }}
  </body>
</html>
