<!-- about -->
<section class="about">
  <div
    data-scroll
    data-scroll-speed="4"
    data-scroll-direction="horizontal"
    class="about__decor-title about__decor-title--top"
  >
    Отдыых в горах
  </div>
  <div class="container container--lg">
    {{> components/card-about }}
  </div>
  <!-- ./ End of container -->
  <div
    data-scroll
    data-scroll-speed="-4"
    data-scroll-direction="horizontal"
    class="about__decor-title about__decor-title--bottom"
  >
    Адыгеи
  </div>
</section>
<!-- ./ End of about -->
