<!-- footer -->
<footer class="footer">
  <div class="container">
    <!-- wrap -->
    <div class="footer__wrap">
      <div data-scroll data-scroll-speed="2" class="footer__card">
        <div class="footer__wrap">
          <div class="footer__left">
            <h3 class="footer__title">
              Остались вопросы? Хотите забронировать коттедж?
            </h3>

            <div class="footer__form-wrapper">
              <form class="footer__form">
                <div class="footer__field footer__field--small">
                  <div class="input-wrapper">
                    <div class="input-container">
                      <input type="text" class="input" placeholder="Имя*" />
                      <span class="input-placeholder"> Имя* </span>
                      <p class="input-error"> Поле не заполнено </p>
                    </div>
                  </div>
                </div>
                <div class="footer__field footer__field--small">
                  <div class="input-wrapper">
                    <div class="input-container">
                      <input
                        type="email"
                        class="input"
                        placeholder="Электронная почта*"
                      />
                      <span class="input-placeholder">
                        Электронная почта*
                      </span>
                      <p class="input-error"> Поле не заполнено </p>
                    </div>
                  </div>
                </div>
                <div class="footer__field">
                  <div class="input-wrapper">
                    <div class="input-container">
                      <input
                        type="tel"
                        class="input invalid"
                        placeholder="Телефон*"
                      />
                      <span class="input-placeholder"> Телефон* </span>
                      <p class="input-error"> Поле не заполнено </p>
                    </div>
                  </div>
                </div>
                <div class="footer__field">
                  <textarea
                    class="textarea"
                    placeholder="Ваше сообщение"
                  ></textarea>
                </div>

                <div class="footer__field">
                  <div class="footer__form-footer">
                    <label class="checkbox">
                      <input class="checkbox__input" type="checkbox" />
                      <div class="checkbox__custom">
                        <svg class="checkbox__icon">
                          <use xlink:href="svg/sprite.svg#done"></use>
                        </svg>
                      </div>
                      <span class="checkbox__text">
                        Я согласен на
                        <a href="#" class="checkbox__link">
                          обработку персональных данных
                        </a>
                        и ознакомился с
                        <a href="#" class="checkbox__link">
                          политикой обработки персональных данных
                        </a>
                      </span>
                    </label>

                    <button class="button" type="submit">
                      <span> Отправить </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="footer__right">
            <div class="footer__contacts">
              <div class="footer__block">
                <div class="footer__title-wrapper">
                  <h6 class="footer__title"> Контактные телефоны </h6>
                </div>

                <ul class="footer__list">
                  <li class="footer__item">
                    <a href="tel: +79880808220" class="footer__phone">
                      +7 (988) 080-8220
                    </a>
                  </li>
                  <li class="footer__item">
                    <a href="tel: +79284621634" class="footer__phone">
                      +7 (928) 462-1634
                    </a>
                  </li>
                  <li class="footer__item">
                    <a href="tel: +79282103110" class="footer__phone">
                      +7 (928) 210-31-10
                    </a>

                    <div class="footer__socials">
                      <a href="#" class="footer__social footer__social--w">
                        <svg class="svg">
                          <use xlink:href="svg/sprite.svg#social-w"></use>
                        </svg>
                      </a>

                      <a href="#" class="footer__social footer__social--t">
                        <svg class="svg">
                          <use xlink:href="svg/sprite.svg#social-t"></use>
                        </svg>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="footer__block">
                <div class="footer__title-wrapper">
                  <h6 class="footer__title"> Мы расположены </h6>

                  <em class="footer__location"> N44.23578 : E40.19274 </em>
                </div>

                <p class="footer__text">
                  Краснодарский край, респ. Адыгея, Майкопский район, станица
                  Даховская
                </p>

                <div class="footer__inner">
                  <div class="footer__container">
                    <div class="footer__map"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./ End of wrap -->
  </div>
</footer>
<!-- ./ End of footer -->
