<!-- hero -->
<section class="hero">
  <div class="hero__wrapper">
    <div class="hero__slider">
      <div class="swiper-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="hero__slide">
              <div class="hero__banner">
                <img src="img/hero-bg-1.jpg" alt="">
              </div>
              <div class="hero__info">
                .<div class="container">
                  <h1 class="hero__title h1">Туристический комплекс «Белая река Даховская»</h1>
                  <p class="hero__descr">Увлекательный отдых в красочных горах Адыгеи</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> <!-- ./ End of hero -->