<!-- map -->
<section class="map-section">
  <div class="container">
    <div class="map">
      <div class="map__wrap">
        <div class="map__container">
          <!-- DATA FOR MAP -->
          <script>
            window.mapData = {
              regions: {
                Парковка: {
                  path: 'M982.142',
                },
                Йога: {
                  path: 'M1079.65',
                },
                Стадион: {
                  path: 'M1699.22',
                },
                Море: {
                  path: 'M1584.51',
                },
                Велосипеды: {
                  path: 'M1099.78',
                },
                Площадка: {
                  path: 'M613.998',
                },
                Площадка2: {
                  path: 'M1006.08',
                },
                Пляж: {
                  path: 'M1439',
                },
              },
              houses: {
                1: {
                  path: 'M1061.84',
                  data: {
                    src: 'images/room-1.jpg',
                    title: 'Домик №7',
                    list: [
                      {
                        key: 'Стандарт 2х мест',
                        value: '2шт',
                      },
                      {
                        key: 'Студия 3х мест ',
                        value: '1шт',
                      },
                    ],
                    btn1: {
                      name: 'забронировать',
                      href: '#',
                    },
                    btn2: {
                      name: 'Подробнее',
                      href: '#',
                    },
                  },
                },
                2: {
                  path: 'M923.716',
                  data: {
                    src: 'images/room-1.jpg',
                    title: 'Домик №2',
                    list: [
                      {
                        key: 'Стандарт 2х мест',
                        value: '2шт',
                      },
                      {
                        key: 'Студия 3х мест ',
                        value: '1шт',
                      },
                    ],
                    btn1: {
                      name: 'забронировать',
                      href: '#',
                    },
                    btn2: {
                      name: 'Подробнее',
                      href: '#',
                    },
                  },
                },
                3: {
                  path: 'M913.716',
                  data: {},
                },
                4: {
                  path: 'M328.719',
                  data: {},
                },
                5: {
                  path: 'M464.717',
                  data: {},
                },
                6: {
                  path: 'M560.717',
                  data: {},
                },
                7: {
                  path: 'M408.717',
                  data: {},
                },
                8: {
                  path: 'M1148.31',
                  data: {},
                },
                9: {
                  path: 'M1000.179',
                  data: {},
                },
                10: {
                  path: 'M1234.77',
                  data: {},
                },
                11: {
                  path: 'M1086.64',
                  data: {},
                },
                12: {
                  path: 'M1321.23',
                  data: {},
                },
                13: {
                  path: 'M1407.69',
                  data: {},
                },
                14: {
                  path: 'M1259.56',
                  data: {},
                },
                15: {
                  path: 'M1494.15',
                  data: {},
                },
                16: {
                  path: 'M1346.03',
                  data: {},
                },
                17: {
                  path: 'M1174',
                  data: {},
                },
              },
            };
          </script>

          <!-- DELETE IMG IN PROD !!! -->
          <img
            class="j_imgForMap"
            style="display: none"
            src="../../img/map_bg.jpg"
            alt=""
          />

          <!-- <div class="map__instance j_mapChart"></div> -->

          <div class="map__panzoom j_panzoom">
            <div class="map__svg-wrapper">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                class="map__svg"
                viewBox="0 0 1920 980"
              >
                <g>
                  <g clip-path="url(#zr0-c0)">
                    <image
                      href="images/map_bg.jpg"
                      width="1920"
                      height="980"
                      opacity="1"
                    ></image>
                    <path
                      d="M982.142 352.247L945.206 316.442C941.083 312.445 942.389 305.535 947.686 303.318L1024.12 271.333C1026.8199 270.203 1029.92 270.637 1032.2 272.465L1073.77 305.717C1078.3199 309.357 1077.58 316.485 1072.37 319.108L1021.64 344.676C1021.21 344.892 1020.77 345.068 1020.31 345.204L989.98 354.174C987.211 354.993 984.216 354.257 982.142 352.247Z"
                      fill="#000"
                      stroke="#DEEBF4"
                      stroke-width="2"
                      stroke-dasharray="2,3"
                    ></path>
                    <path
                      d="M1061.84 353.327A26 26 0 1 1 1061.84 353.3244"
                      fill="#DEEBF4"
                      fill-opacity="0.3"
                    ></path>
                    <path
                      d="M1057.84 353.327A22 22 0 1 1 1057.84 353.3248"
                      fill="#DEEBF4"
                      fill-opacity="0.5"
                    ></path>
                    <path
                      d="M1053.84 353.327A18 18 0 1 1 1053.84 353.3252"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M1043.84 353.327L1027.84 353.327M1035.84 345.327L1035.84 361.327"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1043.84 353.327L1027.84 353.327"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M923.716 153.719A26 26 0 1 1 923.716 153.7164"
                      fill="#DEEBF4"
                      fill-opacity="0.3"
                    ></path>
                    <path
                      d="M919.716 153.719A22 22 0 1 1 919.716 153.7168"
                      fill="#DEEBF4"
                      fill-opacity="0.5"
                    ></path>
                    <path
                      d="M915.716 153.719A18 18 0 1 1 915.716 153.7172"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M905.713 153.927L889.719 153.511M897.924 145.721L897.508 161.716"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M905.713 153.927L889.719 153.51"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M913.716 400.719A26 26 0 1 1 913.716 400.7164"
                      fill="#DEEBF4"
                      fill-opacity="0.3"
                    ></path>
                    <path
                      d="M909.716 400.719A22 22 0 1 1 909.716 400.7168"
                      fill="#DEEBF4"
                      fill-opacity="0.5"
                    ></path>
                    <path
                      d="M905.716 400.719A18 18 0 1 1 905.716 400.7172"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M895.713 400.927L879.719 400.511M887.924 392.721L887.508 408.716"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M895.713 400.927L879.719 400.51"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M328.719 353.719A26 26 0 1 1 328.719 353.7164"
                      fill="#DEEBF4"
                      fill-opacity="0.3"
                    ></path>
                    <path
                      d="M324.719 353.719A22 22 0 1 1 324.719 353.7168"
                      fill="#DEEBF4"
                      fill-opacity="0.5"
                    ></path>
                    <path
                      d="M320.719 353.719A18 18 0 1 1 320.719 353.7172"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M310.716 353.927L294.722 353.511M302.927 345.721L302.511 361.716"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M310.716 353.927L294.722 353.51"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M464.717 345.719A26 26 0 1 1 464.717 345.7164"
                      fill="#DEEBF4"
                      fill-opacity="0.3"
                    ></path>
                    <path
                      d="M460.717 345.719A22 22 0 1 1 460.717 345.7168"
                      fill="#DEEBF4"
                      fill-opacity="0.5"
                    ></path>
                    <path
                      d="M456.717 345.719A18 18 0 1 1 456.717 345.7172"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M446.714 345.927L430.72 345.511M438.925 337.721L438.509 353.716"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M446.714 345.927L430.72 345.51"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M560.717 384.719A26 26 0 1 1 560.717 384.7164"
                      fill="#DEEBF4"
                      fill-opacity="0.3"
                    ></path>
                    <path
                      d="M556.717 384.719A22 22 0 1 1 556.717 384.7168"
                      fill="#DEEBF4"
                      fill-opacity="0.5"
                    ></path>
                    <path
                      d="M552.717 384.719A18 18 0 1 1 552.717 384.7172"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M542.714 384.927L526.72 384.511M534.925 376.721L534.509 392.716"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M542.714 384.927L526.72 384.51"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M408.717 438.719A26 26 0 1 1 408.717 438.7164"
                      fill="#DEEBF4"
                      fill-opacity="0.3"
                    ></path>
                    <path
                      d="M404.717 438.719A22 22 0 1 1 404.717 438.7168"
                      fill="#DEEBF4"
                      fill-opacity="0.5"
                    ></path>
                    <path
                      d="M400.717 438.719A18 18 0 1 1 400.717 438.7172"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M390.714 438.927L374.72 438.511M382.925 430.721L382.509 446.716"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M390.714 438.927L374.72 438.51"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1148.31 413.596A26 26 0 1 1 1148.31 413.5934"
                      fill="#DEEBF4"
                      fill-opacity="0.3"
                    ></path>
                    <path
                      d="M1144.31 413.596A22 22 0 1 1 1144.31 413.5938"
                      fill="#DEEBF4"
                      fill-opacity="0.5"
                    ></path>
                    <path
                      d="M1140.31 413.596A18 18 0 1 1 1140.31 413.5942"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M1130.3 413.804L1114.3101 413.388M1122.51 405.599L1122.1 421.594"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1130.3 413.804L1114.3101 413.388"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1000.179 460.988A26 26 0 1 1 1000.179 460.9854"
                      fill="#DEEBF4"
                      fill-opacity="0.3"
                    ></path>
                    <path
                      d="M996.179 460.988A22 22 0 1 1 996.179 460.9858"
                      fill="#DEEBF4"
                      fill-opacity="0.5"
                    ></path>
                    <path
                      d="M992.179 460.988A18 18 0 1 1 992.179 460.9862"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M982.179 460.988L966.179 460.988M974.179 452.988L974.179 468.988"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M982.179 460.988L966.179 460.988"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1234.77 473.865A26 26 0 1 1 1234.77 473.8624"
                      fill="#DEEBF4"
                      fill-opacity="0.3"
                    ></path>
                    <path
                      d="M1230.77 473.866A22 22 0 1 1 1230.77 473.8638"
                      fill="#DEEBF4"
                      fill-opacity="0.5"
                    ></path>
                    <path
                      d="M1226.77 473.865A18 18 0 1 1 1226.77 473.8632"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M1216.76 474.074L1200.77 473.657M1208.97 465.868L1208.5601 481.863"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1216.76 474.073L1200.77 473.657"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1086.64 521.257A26 26 0 1 1 1086.64 521.2544"
                      fill="#DEEBF4"
                      fill-opacity="0.3"
                    ></path>
                    <path
                      d="M1082.64 521.257A22 22 0 1 1 1082.64 521.2548"
                      fill="#DEEBF4"
                      fill-opacity="0.5"
                    ></path>
                    <path
                      d="M1078.64 521.257A18 18 0 1 1 1078.64 521.2552"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M1068.64 521.257L1052.64 521.257M1060.64 513.257L1060.64 529.257"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1068.64 521.257L1052.64 521.257"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1321.23 534.134A26 26 0 1 1 1321.23 534.1314"
                      fill="#DEEBF4"
                      fill-opacity="0.3"
                    ></path>
                    <path
                      d="M1317.23 534.135A22 22 0 1 1 1317.23 534.1328"
                      fill="#DEEBF4"
                      fill-opacity="0.5"
                    ></path>
                    <path
                      d="M1313.23 534.134A18 18 0 1 1 1313.23 534.1322"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M1303.23 534.343L1287.23 533.926M1295.4399 526.137L1295.02 542.132"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1303.23 534.342L1287.23 533.926"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1407.69 594.404A26 26 0 1 1 1407.69 594.4014"
                      fill="#DEEBF4"
                      fill-opacity="0.3"
                    ></path>
                    <path
                      d="M1403.69 594.404A22 22 0 1 1 1403.69 594.4018"
                      fill="#DEEBF4"
                      fill-opacity="0.5"
                    ></path>
                    <path
                      d="M1399.69 594.403A18 18 0 1 1 1399.69 594.4012"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M1389.6899 594.612L1373.6899 594.196M1381.9 586.406L1381.48 602.401"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1389.6899 594.611L1373.6899 594.195"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1259.56 641.795A26 26 0 1 1 1259.56 641.7924"
                      fill="#DEEBF4"
                      fill-opacity="0.3"
                    ></path>
                    <path
                      d="M1255.56 641.795A22 22 0 1 1 1255.56 641.7928"
                      fill="#DEEBF4"
                      fill-opacity="0.5"
                    ></path>
                    <path
                      d="M1251.56 641.795A18 18 0 1 1 1251.56 641.7932"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M1241.5601 642.003L1225.5699 641.587M1233.77 633.798L1233.36 649.792"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1241.5601 642.003L1225.5699 641.587"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1494.15 654.673A26 26 0 1 1 1494.15 654.6704"
                      fill="#DEEBF4"
                      fill-opacity="0.3"
                    ></path>
                    <path
                      d="M1490.15 654.673A22 22 0 1 1 1490.15 654.6708"
                      fill="#DEEBF4"
                      fill-opacity="0.5"
                    ></path>
                    <path
                      d="M1486.15 654.673A18 18 0 1 1 1486.15 654.6712"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M1476.15 654.881L1460.16 654.465M1468.36 646.676L1467.9399 662.67"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1476.15 654.881L1460.16 654.465"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1346.03 702.064A26 26 0 1 1 1346.03 702.0614"
                      fill="#DEEBF4"
                      fill-opacity="0.3"
                    ></path>
                    <path
                      d="M1342.03 702.065A22 22 0 1 1 1342.03 702.0628"
                      fill="#DEEBF4"
                      fill-opacity="0.5"
                    ></path>
                    <path
                      d="M1338.03 702.064A18 18 0 1 1 1338.03 702.0622"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M1328.02 702.273L1312.03 701.856M1320.23 694.067L1319.8199 710.062"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1328.02 702.272L1312.03 701.856"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1174 582A26 26 0 1 1 1174 581.9974"
                      fill="#DEEBF4"
                      fill-opacity="0.3"
                    ></path>
                    <path
                      d="M1170 582A22 22 0 1 1 1170 581.9978"
                      fill="#DEEBF4"
                      fill-opacity="0.5"
                    ></path>
                    <path
                      d="M1166 582A18 18 0 1 1 1166 581.9982"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M1156 582L1140 582M1148 574L1148 590"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1156 582L1140 582"
                      fill="#000"
                      stroke="#3D6D8F"
                      stroke-linecap="round"
                    ></path>
                    <path
                      d="M1079.65 336.054L1072.58 339.825C1067.29 342.643 1066.86 350.057 1071.79 353.464L1338.61 537.968C1341.27 539.804 1344.77 539.864 1347.48 538.12L1683.3199 322.531C1688.15 319.435 1688.24 312.418 1683.51 309.189L1617.66 264.295C1616.89 263.769 1616.04 263.382 1615.13 263.152L1561.5 249.5L1465 218L1413.73 193.315C1411.97 192.468 1409.96 192.293 1408.08 192.824L1389 198.217C1388.33 198.405 1387.7 198.678 1387.1 199.03L1293.75 254.257C1292.92 254.748 1292.01 255.085 1291.0601 255.252L1214.29 268.686C1213.11 268.893 1211.99 269.363 1211.02 270.062L1109.12 343.045C1106.61 344.849 1103.27 345.036 1100.5699 343.527L1087.3101 336.128C1084.9301 334.801 1082.05 334.774 1079.65 336.054Z"
                      fill="#000"
                      fill-opacity="0.7"
                      stroke="#DEEBF4"
                      stroke-width="2"
                      stroke-opacity="0.7"
                      stroke-dasharray="2,3"
                    ></path>
                    <path
                      d="M1699.22 326.441L1360.2 541.044C1355.36 544.107 1355.21 551.114 1359.92 554.378L1602.98 722.91C1604.9 724.237 1607.29 724.664 1609.55 724.079L1618.34 721.801C1619.11 721.601 1619.84 721.289 1620.52 720.873L1771.7 627.993C1772.23 627.666 1772.72 627.276 1773.16 626.834L1821.5 578.502C1822.16 577.839 1822.9301 577.298 1823.78 576.903L1909.37 537.151C1912.1899 535.839 1914 533.008 1914 529.895L1914 412.843C1914 408.903 1911.13 405.55 1907.24 404.94L1889.78 402.201C1888.9301 402.068 1888.11 401.799 1887.35 401.404L1800.5 356.5L1743.83 329.141C1742.95 328.717 1742 328.458 1741.03 328.375L1704.1801 325.229C1702.4399 325.08 1700.7 325.506 1699.22 326.441Z"
                      fill="#000"
                      stroke="#DEEBF4"
                      stroke-width="2"
                      stroke-dasharray="2,3"
                    ></path>
                    <path
                      d="M1584.51 7.5L698.564 7.5C689.213 7.5 687.457 20.7978 696.486 23.2256L743.998 36L941.498 64L1048.92 71.9571C1049.3 71.9857 1049.6899 71.9862 1050.08 71.9588L1162 64L1337 51.5L1478 40L1585.73 23.4068C1595.49 21.9025 1594.39 7.5 1584.51 7.5Z"
                      fill="#000"
                      stroke="#DEEBF4"
                      stroke-width="2"
                      stroke-dasharray="2,3"
                    ></path>
                    <path
                      d="M1099.78 302.77L1094.34 304.37C1091.92 305.081 1089.3101 304.612 1087.29 303.103L1045.83 272.107C1043.12 270.078 1044 265.803 1047.29 265.014L1069.98 259.582C1072.77 258.913 1075.71 259.794 1077.6801 261.891L1103.21 289.128C1104.0601 290.03 1104.6801 291.116 1105.04 292.301L1105.1899 292.796C1106.46 297.044 1104.04 301.518 1099.78 302.77Z"
                      fill="#000"
                      stroke="#DEEBF4"
                      stroke-width="2"
                      stroke-dasharray="2,3"
                    ></path>
                    <path
                      d="M613.998 282.5L633.775 321.642C635.992 326.03 641.606 327.399 645.594 324.524L652.588 319.481C656.332 316.782 661.577 317.803 664.037 321.708L672.051 334.437C674.476 338.288 679.621 339.344 683.366 336.758L691.379 331.225C694.829 328.843 699.531 329.528 702.158 332.794L714.408 348.023C715.443 349.309 716.054 350.884 716.158 352.532L718.107 383.314C718.327 386.792 721.212 389.5 724.696 389.5C726.775 389.5 728.732 388.521 729.979 386.859L741.525 371.464C744.045 368.104 748.733 367.265 752.262 369.541L757.529 372.94C759.978 374.519 763.091 374.643 765.657 373.262L857.549 323.818C859.135 322.964 860.387 321.601 861.102 319.948L865.528 309.711C866.981 306.352 865.969 302.435 863.071 300.201L827.214 272.552C826.738 272.185 826.305 271.766 825.923 271.302L782.815 218.956C779.918 215.438 780.541 210.213 784.184 207.475L843.561 162.853C849.393 158.47 846.795 149.207 839.535 148.495L738.921 138.639C737.98 138.547 737.063 138.289 736.212 137.877L673.965 107.711C672.997 107.242 671.944 106.973 670.869 106.92L582.038 102.551C581.348 102.517 580.664 102.394 580.006 102.184L519.82 83.0342C516.875 82.0972 513.654 82.94 511.546 85.199L492.253 105.87C489.319 109.013 489.395 113.914 492.425 116.965L556.725 181.721C557.238 182.238 557.678 182.822 558.033 183.458L612.498 281"
                      fill="#000"
                      stroke="#DEEBF4"
                      stroke-width="2"
                      stroke-dasharray="2,3"
                    ></path>
                    <path
                      d="M1006.08 210.46L974.32 168.497C970.613 163.598 973.582 156.521 979.676 155.735L995.927 153.638C996.638 153.546 997.358 153.551 998.067 153.651L1071.5 164L1142.5 167L1219 167L1246.48 167C1251.77 167 1255.6 172.037 1254.2 177.133L1251.35 187.421C1250.8 189.398 1251.04 191.509 1252 193.319L1259.13 206.693C1261.05 210.285 1259.96 214.743 1256.61 217.05L1239.98 228.482C1239 229.152 1237.89 229.598 1236.72 229.787L1189.91 237.353C1189.3 237.451 1188.6899 237.479 1188.08 237.437L1131 233.5L1011.14 213.524C1009.12 213.187 1007.31 212.091 1006.08 210.46Z"
                      fill="#000"
                      stroke="#DEEBF4"
                      stroke-width="2"
                      stroke-dasharray="2,3"
                    ></path>
                    <path
                      d="M1439 62L1308.92 70.1903C1306.15 70.3644 1304 72.6582 1304 75.4293C1304 78.0494 1305.9301 80.2683 1308.53 80.6288L1337.3 84.6252C1339.05 84.8682 1340.67 85.6834 1341.91 86.9435L1365.76 111.235C1366.89 112.385 1367.65 113.849 1367.9301 115.435L1371.59 135.91C1372.13 138.928 1370.62 141.941 1367.87 143.312C1361.95 146.276 1363.1801 155.072 1369.6899 156.296L1404.5 162.843C1406.73 163.261 1409.03 162.716 1410.83 161.344L1416.51 157.018C1417.8 156.03 1418.77 154.669 1419.27 153.117L1427.71 127.037C1428.77 123.736 1431.85 121.5 1435.3199 121.5L1439.86 121.5C1442.46 121.5 1444.89 122.758 1446.39 124.876L1448.53 127.899C1450.8101 131.121 1455.11 132.196 1458.64 130.431L1461.98 128.76C1463.61 127.945 1464.91 126.596 1465.67 124.938L1474.7 105.24C1477.38 99.4015 1485.5 98.9379 1488.8199 104.434L1492.12 109.887C1493.13 111.572 1495.37 112.043 1496.98 110.914C1498.1801 110.07 1499.79 110.097 1500.97 110.979L1511.5699 118.931C1513.71 120.536 1516.51 120.965 1519.04 120.075L1519.59 119.88C1522.04 119.014 1523.92 117.013 1524.63 114.511L1529.38 97.6945C1529.78 96.2601 1530.58 94.9674 1531.6801 93.9623L1538.16 88.0486C1539.85 86.5078 1542.54 86.9809 1543.6 89.0051L1544.29 90.3225C1545.37 92.3959 1548.38 92.2792 1549.3 90.1278C1550.2 88.0198 1553.13 87.8526 1554.27 89.8438L1554.67 90.5571C1555.91 92.72 1559.04 92.6926 1560.24 90.5084L1562.96 85.5351C1564.34 83.0298 1567.89 82.8944 1569.45 85.2877C1571.13 87.875 1575.04 87.4577 1576.15 84.5724L1576.66 83.2185C1578.01 79.6895 1582.84 79.2741 1584.77 82.5207L1589.46 90.3878C1591.26 93.4224 1594.84 94.9136 1598.27 94.0571L1604.7 92.4501C1607.1 91.8507 1609.08 90.1767 1610.08 87.9151L1615.3199 76.0298C1617.92 70.1132 1626.11 69.5733 1629.47 75.0963L1633.6801 82.0061C1634.8101 83.8653 1636.83 85 1639 85C1641.6899 85 1644.0699 83.2823 1644.92 80.7356L1648.1 71.1841C1648.97 68.5795 1651.11 66.602 1653.78 65.9458L1675.35 60.6354C1679.1801 59.6938 1683.12 61.6769 1684.64 65.3097L1686.4399 69.5938C1687.6899 72.566 1690.6 74.5 1693.8199 74.5L1695.64 74.5C1698.62 74.5 1701.36 72.8368 1702.74 70.1865L1708.05 59.9602C1710.78 54.6889 1718.11 54.1331 1721.61 58.931L1725.75 64.6001C1726.88 66.1484 1728.52 67.2396 1730.39 67.6751L1732.6801 68.2092C1737.7 69.38 1742.5 65.5711 1742.5 60.4184L1742.5 51.3557C1742.5 49.509 1743.14 47.7191 1744.3101 46.2898L1751.8101 37.1228C1754.24 34.1503 1758.4399 33.3255 1761.8199 35.1578L1770.45 39.8432C1772.39 40.9001 1774.6899 41.1024 1776.79 40.4018L1784.27 37.9105C1785.08 37.6386 1785.9399 37.5 1786.8 37.5L1801.1899 37.5C1804.4 37.5 1807.3101 39.429 1808.5601 42.3955L1812.77 52.389C1813.84 54.9445 1816.17 56.7606 1818.91 57.1886L1826.09 58.3115C1828.83 58.7395 1831.6 57.7187 1833.4 55.6137L1835.25 53.4593C1836.0699 52.5001 1837.11 51.7492 1838.28 51.2682L1842.3 49.6102C1843.9 48.9512 1845.75 49.4198 1846.84 50.7631C1848.8199 53.2035 1852.72 52.4335 1853.63 49.423L1860.02 28.2345C1860.64 26.2021 1862.1801 24.5852 1864.1899 23.8839C1867.85 22.6006 1871.83 24.7249 1872.8101 28.4854L1880.59 58.479C1881.17 60.7161 1882.6801 62.5931 1884.75 63.6267L1885.85 64.1741C1889.16 65.8308 1893.1801 64.996 1895.5601 62.1565L1905.46 50.3354C1906.46 49.138 1907.09 47.6732 1907.27 46.1216L1911.42 10.4665C1911.73 7.8217 1909.66 5.5 1907 5.5L1773.5 14L1566 45.5L1439 62Z"
                      fill="#000"
                      stroke="#DEEBF4"
                      stroke-width="2"
                      stroke-dasharray="2,3"
                    ></path>
                    <path
                      d="M1715.82 417.821A32 32 0 1 1 1715.82 417.8178"
                      fill="#3D6D8F"
                      fill-opacity="0.8"
                    ></path>
                    <path
                      d="M1697.79 415.125L1699.66 415.125L1699.66 402L1691.01 402L1687.26 403.875C1685.97 403.875 1682.29 403.875 1680.79 403.875L1680.79 402L1667.66 402L1667.66 410.659L1669.54 414.409L1669.54 420.875L1667.66 420.875L1667.66 434L1676.3199 434L1680.0699 432.125L1686.54 432.125L1686.54 434L1699.66 434L1699.66 425.341L1697.79 421.591C1697.79 420.31 1697.79 416.629 1697.79 415.125ZM1695.91 417.062L1690.29 417.062L1690.29 415.125L1695.91 415.125L1695.91 417.062ZM1682.73 422.75L1682.73 424.625L1680.4301 424.625L1678.91 421.591L1678.91 417.062L1677.04 417.062L1677.04 414.767L1680.0699 413.25L1684.6 413.25L1684.6 411.375L1686.9 411.375L1688.41 414.409L1688.41 418.938L1690.29 418.938L1690.29 421.233L1687.26 422.75L1682.73 422.75ZM1687.7 405.75L1691.45 403.875L1697.79 403.875L1697.79 405.75L1694.04 405.75L1694.04 407.625L1697.79 407.625L1697.79 409.5L1694.04 409.5L1694.04 411.375L1697.79 411.375L1697.79 413.25L1689.9301 413.25L1688.0601 409.5L1684.6 409.5L1684.6 405.75L1687.7 405.75ZM1682.73 405.75L1682.73 411.375L1680.79 411.375L1680.79 405.75L1682.73 405.75ZM1669.54 410.216L1669.54 403.875L1671.41 403.875L1671.41 407.625L1673.29 407.625L1673.29 403.875L1675.16 403.875L1675.16 407.625L1677.04 407.625L1677.04 403.875L1678.91 403.875L1678.91 411.733L1675.16 413.608L1675.16 417.062L1671.41 417.062L1671.41 413.966L1669.54 410.216ZM1671.41 418.938L1677.04 418.938L1677.04 420.875L1671.41 420.875L1671.41 418.938ZM1679.63 430.25L1675.88 432.125L1669.54 432.125L1669.54 430.25L1673.29 430.25L1673.29 428.375L1669.54 428.375L1669.54 426.5L1673.29 426.5L1673.29 424.625L1669.54 424.625L1669.54 422.75L1677.4 422.75L1679.27 426.5L1682.73 426.5L1682.73 430.25L1679.63 430.25ZM1684.6 430.25L1684.6 424.625L1686.54 424.625L1686.54 430.25L1684.6 430.25ZM1697.79 425.784L1697.79 432.125L1695.91 432.125L1695.91 428.375L1694.04 428.375L1694.04 432.125L1692.16 432.125L1692.16 428.375L1690.29 428.375L1690.29 432.125L1688.41 432.125L1688.41 424.267L1692.16 422.392L1692.16 418.938L1695.91 418.938L1695.91 422.034L1697.79 425.784Z"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M1454.82 84.8214A32 32 0 1 1 1454.82 84.8182"
                      fill="#3D6D8F"
                      fill-opacity="0.8"
                    ></path>
                    <path
                      d="M1438 95.0777L1438 89.4307L1422.22 89.4307L1424.5699 82.254L1426.36 82.8407C1427.04 83.0626 1427.75 83.017 1428.38 82.742C1428.71 83.3236 1429.25 83.7888 1429.9399 84.014L1433.52 85.1873C1435 85.6728 1436.59 84.8693 1437.08 83.3844L1437.67 81.5957C1439.0601 76.6221 1433.08 72.3552 1428.38 70.6457L1428.97 68.8396L1427.1801 68.2529L1426.59 70.059C1421.8 68.6518 1414.45 68.5535 1412.63 73.3827C1412.63 73.3828 1412.04 75.1713 1412.04 75.1713C1411.55 76.6542 1412.36 78.2478 1413.84 78.7342L1417.42 79.9075C1418.09 80.1262 1418.8 80.0908 1419.4301 79.81C1419.77 80.391 1420.3101 80.8557 1421 81.0807L1422.78 81.6673L1420.24 89.4307L1416.58 89.4307L1410.09 82.937L1406.09 86.9301L1413.4399 94.2731L1411.2 97.8645L1406 97.8645L1406 99.7468L1438 99.7468L1438 97.8645L1435.64 97.8645L1434 95.0777L1438 95.0777ZM1434.1 83.3987L1430.53 82.2254C1430.03 82.0636 1429.76 81.5309 1429.92 81.0377L1430.22 80.1434L1435.58 81.9034L1435.29 82.7977C1435.13 83.292 1434.6 83.5607 1434.1 83.3987ZM1423.99 72.7841C1427.65 70.2187 1429.79 74.3906 1428.97 77.7515L1421.91 75.4383C1422.42 74.3373 1423.14 73.4132 1423.99 72.7841ZM1434.14 76.4073C1435.34 77.6756 1435.98 78.9403 1436.01 80.0627L1430.76 78.3409C1431.1 76.8484 1431.12 75.2324 1430.64 73.7524C1432.01 74.5256 1433.2 75.4258 1434.14 76.4073ZM1418.54 71.2928C1419.88 71.0542 1421.37 71.0355 1422.9399 71.2265C1421.6899 72.1211 1420.74 73.4157 1420.12 74.8489L1414.87 73.1271C1415.55 72.2394 1416.8199 71.6009 1418.54 71.2928ZM1418.01 78.1188L1414.4301 76.9456C1413.9301 76.7834 1413.67 76.2522 1413.83 75.7579L1414.12 74.8636L1419.49 76.6236L1419.1899 77.5179C1419.03 78.0119 1418.5 78.2811 1418.01 78.1188ZM1421.58 79.2922C1421.09 79.1304 1420.8199 78.5977 1420.98 78.1045L1421.28 77.2102L1428.4301 79.5568L1428.14 80.4511C1427.97 80.9443 1427.4399 81.2137 1426.95 81.0521C1426.77 80.9942 1427.88 81.3564 1423.37 79.8787L1423.37 79.8788L1421.58 79.2922ZM1436.12 91.313L1436.12 93.1954L1420.98 93.1954L1421.6 91.313L1436.12 91.313ZM1410.09 85.599L1415.8 91.313L1419.62 91.313L1419 93.1953L1415.02 93.1953L1408.76 86.93L1410.09 85.599ZM1415.15 95.0777L1418.38 95.0777L1417.47 97.8645L1413.42 97.8645L1415.15 95.0777ZM1433.46 97.8645L1419.45 97.8645L1420.36 95.0777L1431.8199 95.0777L1433.46 97.8645Z"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M914.821 224.821A32 32 0 1 1 914.821 224.8178"
                      fill="#3D6D8F"
                      fill-opacity="0.8"
                    ></path>
                    <path
                      d="M888.622 224.062L888.584 224.062L888.584 218.371C891.425 217.92 893.605 215.453 893.605 212.487L893.605 209L871.646 209L871.646 212.487C871.646 215.453 873.826 217.92 876.667 218.371L876.667 224.062L866.664 224.062L866.664 227.549C866.664 230.516 868.843 232.982 871.685 233.433L871.685 239.125L869.276 239.125L869.276 241L875.892 241L875.892 239.125L873.56 239.125L873.56 233.433C875.272 233.162 876.744 232.158 877.643 230.754C878.543 232.158 880.014 233.162 881.727 233.433L881.727 239.125L879.318 239.125L879.318 241L885.933 241L885.933 239.125L883.602 239.125L883.602 233.433C885.314 233.162 886.785 232.158 887.685 230.754C888.584 232.158 890.056 233.162 891.768 233.433L891.768 239.125L889.359 239.125L889.359 241L895.975 241L895.975 239.125L893.643 239.125L893.643 233.433C896.485 232.982 898.664 230.515 898.664 227.549L898.664 224.062L888.622 224.062ZM888.622 225.938L896.789 225.938L896.789 227.549C896.789 227.649 896.784 227.749 896.777 227.847L888.635 227.847C888.627 227.749 888.622 227.649 888.622 227.549L888.622 225.938ZM882.625 215.692C883.525 217.096 884.997 218.099 886.709 218.371L886.709 224.062L878.581 224.062L878.542 224.062L878.542 218.371C880.254 218.099 881.726 217.096 882.625 215.692ZM878.581 227.549L878.581 225.938L886.747 225.938L886.747 227.549C886.747 227.649 886.742 227.749 886.735 227.847L878.593 227.847C878.586 227.749 878.581 227.649 878.581 227.549ZM887.646 216.57C886.193 216.57 884.916 215.806 884.192 214.66L891.101 214.66C890.377 215.806 889.099 216.57 887.646 216.57ZM883.563 210.875L891.73 210.875L891.73 212.487C891.73 212.587 891.725 212.686 891.718 212.785L883.575 212.785C883.568 212.686 883.563 212.587 883.563 212.487L883.563 210.875ZM873.521 210.875L881.688 210.875L881.688 212.487C881.688 212.587 881.683 212.686 881.676 212.785L873.533 212.785C873.526 212.686 873.521 212.587 873.521 212.487L873.521 210.875ZM874.15 214.66L881.059 214.66C880.335 215.806 879.058 216.57 877.605 216.57C876.152 216.57 874.874 215.806 874.15 214.66ZM868.539 225.938L876.706 225.938L876.706 227.549C876.706 227.649 876.701 227.749 876.694 227.847L868.551 227.847C868.544 227.749 868.539 227.649 868.539 227.549L868.539 225.938ZM872.622 231.632C871.169 231.632 869.892 230.869 869.168 229.722L876.077 229.722C875.353 230.869 874.076 231.632 872.622 231.632ZM882.664 231.632C881.211 231.632 879.934 230.869 879.21 229.722L886.118 229.722C885.395 230.869 884.117 231.632 882.664 231.632ZM892.706 231.632C891.253 231.632 889.975 230.869 889.251 229.722L896.16 229.722C895.436 230.869 894.159 231.632 892.706 231.632Z"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M849.821 186.821A32 32 0 1 1 849.821 186.8178"
                      fill="#3D6D8F"
                      fill-opacity="0.8"
                    ></path>
                    <path
                      d="M832.83 198.204L821.628 187.002L822.136 186.494C822.641 185.989 823.291 185.689 823.965 185.648C825.11 185.58 826.187 185.096 826.998 184.284L833.629 177.654L832.303 176.327L827.219 181.411L825.893 180.085L830.977 175.001L829.65 173.675L824.567 178.759L823.241 177.432L828.324 172.349L826.998 171.023L820.367 177.654C819.556 178.465 819.072 179.542 819.003 180.687C818.963 181.361 818.662 182.011 818.157 182.516L817.649 183.024L805.626 171L804.48 171L804.246 171.594C803.629 173.163 803.365 174.768 803.483 176.234C803.618 177.906 804.254 179.354 805.32 180.42L812.787 187.887L802.498 198.175C801.402 199.272 801.402 201.056 802.498 202.153C803.65 203.305 805.445 203.186 806.477 202.153L817.649 190.981L828.851 202.183C830.06 203.391 831.866 203.147 832.83 202.183C833.927 201.086 833.927 199.301 832.83 198.204ZM819.483 183.842C820.313 183.012 820.808 181.931 820.875 180.798C820.916 180.112 821.207 179.466 821.693 178.98L821.914 178.759L825.893 182.737L825.672 182.958C825.185 183.445 824.54 183.735 823.853 183.776C822.72 183.844 821.639 184.338 820.81 185.168L820.302 185.676L820.284 185.658L818.975 184.35L819.483 183.842ZM805.151 200.827C804.785 201.193 804.19 201.193 803.825 200.827C803.459 200.461 803.459 199.867 803.825 199.501L814.113 189.213L815.439 190.539L805.151 200.827ZM816.747 189.195L806.646 179.094C805.225 177.672 805.123 175.508 805.576 173.603L818.957 186.984L816.747 189.195ZM831.503 200.857C831.138 201.222 830.543 201.222 830.177 200.857L818.975 189.655L820.302 188.329L831.503 199.53C831.681 199.707 831.778 199.943 831.778 200.193C831.778 200.444 831.681 200.679 831.503 200.857Z"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M1005.821 167.821A32 32 0 1 1 1005.821 167.8178"
                      fill="#3D6D8F"
                      fill-opacity="0.8"
                    ></path>
                    <path
                      d="M980.676 167.875L982.102 167.875C984.169 167.875 985.852 166.193 985.852 164.125C985.852 162.736 985.092 161.522 983.967 160.874C983.736 155.39 979.203 151 973.664 151C968.125 151 963.592 155.39 963.362 160.874C962.236 161.522 961.477 162.736 961.477 164.125C961.477 166.193 963.159 167.875 965.227 167.875L966.652 167.875C968.167 170.135 970.745 171.625 973.664 171.625C976.583 171.625 979.161 170.135 980.676 167.875ZM982.102 166L981.619 166C981.931 165.12 982.102 164.173 982.102 163.188L982.102 162.25C983.135 162.25 983.977 163.091 983.977 164.125C983.977 165.159 983.135 166 982.102 166ZM973.664 152.875C978 152.875 981.581 156.162 982.049 160.375L977.414 160.375C975.863 160.375 974.602 159.113 974.602 157.562L972.727 157.562C972.727 159.113 971.465 160.375 969.914 160.375L965.279 160.375C965.747 156.162 969.329 152.875 973.664 152.875ZM965.227 166C964.193 166 963.352 165.159 963.352 164.125C963.352 163.091 964.193 162.25 965.227 162.25L965.227 163.188C965.227 164.173 965.397 165.12 965.709 166L965.227 166ZM973.664 169.75C970.045 169.75 967.102 166.806 967.102 163.188L967.102 162.25L969.914 162.25C971.446 162.25 972.808 161.512 973.664 160.372C974.52 161.512 975.882 162.25 977.414 162.25L980.227 162.25L980.227 163.188C980.227 166.806 977.283 169.75 973.664 169.75Z"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M973.664 166C973.101 166 972.557 165.834 972.093 165.52L971.043 167.074C971.819 167.598 972.725 167.875 973.664 167.875C974.604 167.875 975.51 167.598 976.286 167.074L975.236 165.52C974.772 165.834 974.228 166 973.664 166Z"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M961.477 176.312L961.477 183L985.852 183L985.852 176.312C985.852 173.728 983.749 171.625 981.164 171.625L966.164 171.625C963.579 171.625 961.477 173.728 961.477 176.312ZM963.352 176.312C963.352 174.762 964.613 173.5 966.164 173.5L970.272 173.5L971.752 176.461L970.992 181.125L963.352 181.125L963.352 176.312ZM974.436 181.125L972.892 181.125L973.524 177.25L973.804 177.25L974.436 181.125ZM983.977 176.312L983.977 181.125L976.336 181.125L975.576 176.461L977.056 173.5L981.164 173.5C982.715 173.5 983.977 174.762 983.977 176.312ZM974.96 173.5L974.022 175.375L973.306 175.375L972.368 173.5L974.96 173.5Z"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M978.352 177.25L982.102 177.25L982.102 179.125L978.352 179.125L978.352 177.25Z"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M1106 46A32 32 0 1 1 1106 45.9968"
                      fill="#3D6D8F"
                      fill-opacity="0.8"
                    ></path>
                    <path
                      d="M1088.08 47.1916C1089.3199 45.9516 1090 44.3031 1090 42.5496L1090 36.5649C1090 32.945 1087.05 30 1083.4399 30L1077.45 30C1075.7 30 1074.05 30.6829 1072.8101 31.9228L1067.03 37.7041L1065 35.6782C1065.1801 35.3056 1065.27 34.8951 1065.27 34.4702C1065.27 33.7186 1064.98 33.0121 1064.45 32.4808L1062.02 30.0492L1058.04 34.0281L1060.47 36.4597C1061.02 37.0082 1061.74 37.2824 1062.46 37.2824C1062.88 37.2824 1063.29 37.1899 1063.6801 37.0061L1065.7 39.0305L1058.8199 45.9073C1058.29 46.4386 1058 47.145 1058 47.8964C1058 48.6478 1058.29 49.3541 1058.8199 49.8855C1059.92 50.9822 1061.71 50.9822 1062.8 49.8855L1062.91 49.7802L1070.22 57.0927L1070.11 57.1979C1069.02 58.2947 1069.02 60.0792 1070.11 61.1761C1070.65 61.7074 1071.35 62 1072.1 62C1072.86 62 1073.5601 61.7074 1074.09 61.1761L1080.97 54.2992L1082.99 56.3236C1082.49 57.3702 1082.67 58.6647 1083.54 59.5308L1085.97 61.9624L1089.95 57.9835L1087.52 55.5519C1086.99 55.0205 1086.28 54.7278 1085.53 54.7278C1085.1 54.7278 1084.6899 54.8215 1084.3199 54.9989L1082.3 52.973L1088.08 47.1916ZM1061.8 35.1333L1060.6899 34.0281L1062.02 32.7018L1063.12 33.8071C1063.3 33.9842 1063.4 34.2198 1063.4 34.4702C1063.4 34.7208 1063.3 34.9562 1063.12 35.1334C1062.76 35.499 1062.16 35.499 1061.8 35.1333ZM1086.1899 56.8782L1087.3 57.9834L1085.97 59.3097L1084.87 58.2045C1084.5 57.8388 1084.5 57.2438 1084.87 56.8782C1085.04 56.701 1085.28 56.6034 1085.53 56.6034C1085.78 56.6034 1086.02 56.701 1086.1899 56.8782ZM1074.13 33.2491C1075.02 32.3634 1076.2 31.8757 1077.45 31.8757L1083.4399 31.8757C1086.02 31.8757 1088.12 33.9792 1088.12 36.5649L1088.12 42.5496C1088.12 43.8021 1087.64 44.9796 1086.75 45.8653L1080.97 51.6467L1079.64 50.3211L1085.2 44.7681C1085.73 44.2367 1086.02 43.5301 1086.02 42.7786L1086.02 36.7924C1086.02 35.2411 1084.76 33.9789 1083.21 33.9789L1077.22 33.9789C1076.47 33.9789 1075.76 34.2716 1075.23 34.803L1069.6801 40.356L1068.35 39.0304L1074.13 33.2491ZM1074.2 53.1138L1066.89 45.8014L1069.6801 43.0086L1076.99 50.3211L1074.2 53.1138ZM1071.01 41.6823L1073.79 38.8956L1081.1 46.2081L1078.3199 48.9948L1071.01 41.6823ZM1084.15 41.2914L1078.71 35.8546L1083.21 35.8546C1083.72 35.8546 1084.15 36.2753 1084.15 36.7924L1084.15 41.2914ZM1076.4399 36.2431L1083.76 43.5555L1082.4301 44.8818L1075.12 37.5693L1076.4399 36.2431ZM1060.15 48.5592C1059.78 48.1937 1059.78 47.5991 1060.15 47.2336L1067.03 40.3567L1068.35 41.6823L1061.48 48.5592C1061.11 48.9246 1060.52 48.9246 1060.15 48.5592ZM1064.23 48.4539L1065.5601 47.1276L1072.87 54.44L1071.55 55.7664L1064.23 48.4539ZM1072.77 59.8498C1072.4 60.2152 1071.8101 60.2153 1071.4399 59.8498C1071.08 59.4843 1071.08 58.8896 1071.4399 58.5242L1078.3199 51.6473L1079.64 52.9729L1072.77 59.8498Z"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M1103.82 251.821A32 32 0 1 1 1103.82 251.8178"
                      fill="#3D6D8F"
                      fill-opacity="0.8"
                    ></path>
                    <path
                      d="M1083.34 252C1083.08 252 1082.83 252.015 1082.59 252.045L1079.47 241.453L1082.51 241.453L1083.37 244.873L1085.41 244.361L1084.16 239.344L1076.65 239.344L1078.51 245.672L1068.0699 245.672L1066.99 243.562L1068.4301 243.562L1068.4301 241.453L1062.1 241.453L1062.1 243.562L1064.62 243.562L1066.1899 246.628L1062.46 252.493C1061.6899 252.171 1060.86 252 1059.99 252C1056.5 252 1053.66 254.839 1053.66 258.328C1053.66 261.817 1056.5 264.656 1059.99 264.656C1062.6899 264.656 1065.08 262.926 1065.96 260.438L1071.73 260.438C1073.48 260.438 1074.9 259.018 1074.9 257.273C1074.9 256.23 1074.39 255.303 1073.61 254.727L1079.39 248.663L1080.5601 252.64C1078.46 253.67 1077.01 255.833 1077.01 258.328C1077.01 261.817 1079.85 264.656 1083.34 264.656C1086.83 264.656 1089.66 261.817 1089.66 258.328C1089.66 254.839 1086.83 252 1083.34 252ZM1067.3 248.807L1070.01 254.109L1064.71 254.109C1064.5601 253.94 1064.4 253.779 1064.23 253.629L1067.3 248.807ZM1059.99 262.547C1057.67 262.547 1055.77 260.654 1055.77 258.328C1055.77 256.002 1057.67 254.109 1059.99 254.109C1060.59 254.109 1061.17 254.234 1061.7 254.466C1060.65 255.009 1059.99 256.085 1059.99 257.273C1059.99 259.018 1061.41 260.438 1063.16 260.438L1063.65 260.438C1062.91 261.71 1061.53 262.547 1059.99 262.547ZM1071.73 258.328L1063.16 258.328C1062.5699 258.328 1062.1 257.855 1062.1 257.273C1062.1 256.685 1062.58 256.219 1063.16 256.219L1071.73 256.219C1072.3199 256.219 1072.79 256.692 1072.79 257.273C1072.79 257.855 1072.3199 258.328 1071.73 258.328ZM1072 253.361L1069.15 247.781L1077.3199 247.781L1072 253.361ZM1083.34 262.547C1081.01 262.547 1079.12 260.654 1079.12 258.328C1079.12 256.792 1079.9399 255.446 1081.17 254.708L1082.3199 258.626L1084.35 258.03L1083.2 254.113C1083.24 254.111 1083.29 254.109 1083.34 254.109C1085.66 254.109 1087.55 256.002 1087.55 258.328C1087.55 260.654 1085.66 262.547 1083.34 262.547Z"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M1400.82 341.821A32 32 0 1 1 1400.82 341.8178"
                      fill="#3D6D8F"
                      fill-opacity="0.8"
                    ></path>
                    <path
                      d="M1382.75 352.922C1383.3 352.134 1383.63 351.153 1383.63 350.09C1383.63 348.472 1382.87 347.041 1381.72 346.204C1382.34 345.983 1382.9 345.558 1383.23 344.972C1383.9 343.794 1383.59 342.102 1382.5 341.277C1379.9301 339.324 1377.71 336.507 1376.01 333.786L1372.74 331.52C1372.8101 331.243 1372.84 330.954 1372.84 330.657L1372.84 329.044C1372.84 326.926 1371.12 325.203 1369 325.203C1366.88 325.203 1365.16 326.926 1365.16 329.044L1365.16 330.657C1365.16 330.954 1365.1899 331.243 1365.26 331.52L1361.99 333.786C1360.29 336.507 1358.0699 339.324 1355.5 341.277C1354.42 342.102 1354.1 343.794 1354.77 344.972C1355.1 345.558 1355.66 345.983 1356.28 346.204C1355.13 347.041 1354.38 348.472 1354.38 350.09C1354.38 351.153 1354.7 352.134 1355.25 352.922L1353 352.922L1353 354.797L1385 354.797L1385 352.922L1382.75 352.922ZM1381.37 342.77C1381.76 343.167 1381.83 343.592 1381.6 344.047C1381.29 344.507 1380.9 344.597 1380.4399 344.314C1379.9399 343.929 1377.52 342.16 1376.88 341.65L1378.45 340.025C1379.36 341.009 1380.3 341.959 1381.37 342.77ZM1378.8 345.423L1374.52 345.423L1374.52 342.095C1375.85 343.321 1377.35 344.337 1378.8 345.423ZM1367.03 329.044C1367.03 327.96 1367.92 327.078 1369 327.078C1370.09 327.078 1370.97 327.96 1370.97 329.044L1370.97 330.657C1370.97 331.741 1370.09 332.623 1369 332.623C1367.92 332.623 1367.03 331.741 1367.03 330.657L1367.03 329.044ZM1363.37 335.11L1366.13 333.2C1366.83 333.996 1367.86 334.498 1369 334.498C1370.14 334.498 1371.17 333.996 1371.88 333.2L1374.63 335.11C1375.48 336.457 1376.3101 337.566 1377.2 338.618L1375.47 340.417C1375.04 340 1374.66 339.573 1374.35 339.128L1372.64 339.669L1372.64 345.423L1365.36 345.423L1365.36 339.669L1363.65 339.128C1363.34 339.573 1362.96 340 1362.53 340.417L1360.8 338.618C1361.6899 337.566 1362.52 336.457 1363.37 335.11ZM1363.48 342.095L1363.48 345.423L1359.2 345.423C1360.65 344.337 1362.15 343.321 1363.48 342.095ZM1356.64 342.77C1357.7 341.959 1358.65 341.009 1359.55 340.025L1361.12 341.65C1360.48 342.16 1358.0601 343.929 1357.5699 344.314C1357.1 344.597 1356.71 344.507 1356.4 344.047C1356.17 343.592 1356.25 343.167 1356.64 342.77ZM1367.13 352.922L1358.6899 352.922C1357.34 352.922 1356.25 351.562 1356.25 350.09C1356.25 348.619 1357.3101 347.299 1358.66 347.299L1367.13 350.859L1367.13 352.922ZM1369 352.922L1369 351.047L1373.58 351.047C1374.63 351.178 1375.5 351.931 1375.6899 352.922L1369 352.922ZM1379.26 352.922L1377.58 352.922C1377.38 350.894 1375.63 349.172 1373.55 349.172L1368.23 349.172L1363.15 347.299L1379.4 347.299C1380.77 347.422 1381.75 348.619 1381.75 350.09C1381.75 351.562 1380.61 352.922 1379.26 352.922Z"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M1002.821 300.821A32 32 0 1 1 1002.821 300.8178"
                      fill="#3D6D8F"
                      fill-opacity="0.8"
                    ></path>
                    <path
                      d="M986.664 298.772L983.721 289.688L954.664 289.688L954.664 308.774L958.511 308.774C958.588 310.723 960.197 312.284 962.164 312.284C964.131 312.284 965.74 310.723 965.817 308.774L975.511 308.774C975.588 310.723 977.197 312.284 979.164 312.284C981.131 312.284 982.74 310.723 982.817 308.774L986.664 308.774L986.664 298.772ZM984.684 298.743L978.451 298.743L978.451 291.562L982.357 291.562L984.684 298.743ZM956.539 298.743L956.539 295.375L960.289 295.375L960.289 298.743L956.539 298.743ZM962.164 295.375L965.727 295.375L965.727 298.743L962.164 298.743L962.164 295.375ZM967.602 295.375L971.164 295.375L971.164 298.743L967.602 298.743L967.602 295.375ZM973.039 295.375L976.576 295.375L976.576 298.743L973.039 298.743L973.039 295.375ZM976.576 291.562L976.576 293.5L956.539 293.5L956.539 291.562L976.576 291.562ZM962.164 310.409C961.231 310.409 960.464 309.688 960.389 308.774L960.431 308.774C960.414 308.747 960.399 308.719 960.385 308.692C960.384 308.671 960.383 308.649 960.383 308.628C960.383 307.646 961.182 306.847 962.164 306.847C963.146 306.847 963.945 307.646 963.945 308.628C963.945 309.61 963.146 310.409 962.164 310.409ZM979.164 310.409C978.182 310.409 977.383 309.61 977.383 308.628C977.383 307.646 978.182 306.847 979.164 306.847C980.146 306.847 980.945 307.646 980.945 308.628C980.945 309.61 980.146 310.409 979.164 310.409ZM982.385 306.899C981.767 305.753 980.555 304.972 979.164 304.972C977.773 304.972 976.561 305.753 975.944 306.899L965.385 306.899C964.767 305.753 963.555 304.972 962.164 304.972C960.773 304.972 959.561 305.753 958.944 306.899L956.539 306.899L956.539 304.406L958.483 304.406L958.483 302.531L956.539 302.531L956.539 300.618L984.789 300.618L984.789 302.531L982.814 302.531L982.814 304.406L984.789 304.406L984.789 306.899L982.385 306.899Z"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M490.821 446.821A32 32 0 1 1 490.821 446.8178"
                      fill="#3D6D8F"
                      fill-opacity="0.8"
                    ></path>
                    <path
                      d="M471.852 434.75C470.301 434.75 469.039 436.012 469.039 437.562L469.039 444.125L448.289 444.125L448.289 437.562C448.289 436.012 447.027 434.75 445.477 434.75C443.926 434.75 442.664 436.012 442.664 437.562L442.664 445.126L445.087 463L472.241 463L474.655 445.188L474.664 445.126L474.664 437.562C474.664 436.012 473.402 434.75 471.852 434.75ZM470.914 437.562C470.914 437.046 471.335 436.625 471.852 436.625C472.368 436.625 472.789 437.046 472.789 437.562L472.789 444.125L470.914 444.125L470.914 437.562ZM459.602 447.875L459.602 446L465.192 446L465.065 447.875L459.602 447.875ZM457.727 447.875L452.263 447.875L452.136 446L457.727 446L457.727 447.875ZM450.384 447.875L444.929 447.875L444.675 446L450.257 446L450.384 447.875ZM445.691 453.5L450.765 453.5L451.028 457.375L446.217 457.375L445.691 453.5ZM452.907 457.375L452.644 453.5L457.727 453.5L457.727 457.375L452.907 457.375ZM459.602 453.5L464.684 453.5L464.421 457.375L459.602 457.375L459.602 453.5ZM466.563 453.5L471.637 453.5L471.112 457.375L466.3 457.375L466.563 453.5ZM445.437 451.625L445.183 449.75L472.145 449.75L471.891 451.625L445.437 451.625ZM466.944 447.875L467.071 446L472.653 446L472.399 447.875L466.944 447.875ZM445.477 436.625C445.993 436.625 446.414 437.046 446.414 437.562L446.414 444.125L444.539 444.125L444.539 437.562C444.539 437.046 444.96 436.625 445.477 436.625ZM446.725 461.125L446.471 459.25L470.857 459.25L470.603 461.125L446.725 461.125Z"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M458.664 442.161C460.783 442.161 462.508 440.437 462.508 438.317C462.508 437.6 462.308 436.9 461.931 436.292L458.664 431L455.398 436.291C455.02 436.899 454.82 437.6 454.82 438.317C454.82 440.437 456.545 442.161 458.664 442.161ZM456.992 437.278L458.664 434.573L460.336 437.278C460.531 437.591 460.633 437.95 460.633 438.317C460.633 439.403 459.75 440.286 458.664 440.286C457.579 440.286 456.695 439.403 456.695 438.317C456.695 437.95 456.798 437.591 456.992 437.278Z"
                      fill="#DEEBF4"
                    ></path>
                    <path
                      d="M737.821 266.821A32 32 0 1 1 737.821 266.8178"
                      fill="#3D6D8F"
                      fill-opacity="0.8"
                    ></path>
                    <path
                      d="M713.096 268.779C712.71 268.436 712.098 268.455 711.742 268.892L711.739 268.896C711.683 268.956 711.25 269.406 710.708 269.424C710.342 269.437 709.955 269.238 709.555 268.837C709.19 268.47 708.596 268.47 708.23 268.835C707.863 269.202 707.862 269.795 708.228 270.162C709.152 271.088 710.052 271.299 710.68 271.299C711.679 271.299 712.636 270.741 713.174 270.103C713.518 269.715 713.483 269.124 713.096 268.779Z"
                      fill="white"
                    ></path>
                    <path
                      d="M718.817 266.069C718.709 265.64 718.579 265.216 718.43 264.799C718.816 264.585 718.868 264.266 718.996 263.86C719.615 261.893 719.92 259.849 719.901 257.786C719.882 255.723 719.54 253.686 718.887 251.734L718.866 251.671C718.746 251.307 718.416 251.052 718.032 251.029C711.988 250.664 708.269 253.841 707.21 254.895L704.117 254.895C701.613 252.406 697.668 250.766 693.295 251.029C692.915 251.052 692.586 251.303 692.464 251.664C691.802 253.619 691.453 255.656 691.428 257.721C691.402 259.785 691.7 261.83 692.314 263.802C692.452 264.242 692.502 264.58 692.898 264.799C692.749 265.216 692.619 265.64 692.511 266.069C690.9 266.322 689.664 267.722 689.664 269.406C689.664 271.09 690.9 272.49 692.511 272.743C694.016 278.729 699.433 283 705.664 283C711.895 283 717.311 278.73 718.817 272.743C720.428 272.489 721.664 271.09 721.664 269.406C721.664 267.722 720.428 266.322 718.817 266.069ZM717.283 252.877C718.283 256.215 718.283 259.72 717.278 263.066C713.851 263.102 710.635 261.633 708.55 259.386L708.55 258.908L714.241 258.908C714.759 258.908 715.179 258.489 715.179 257.971C715.179 257.453 714.759 257.033 714.241 257.033L708.55 257.033L708.55 256.208C710.563 254.229 713.755 252.826 717.283 252.877ZM706.675 258.801C705.95 258.801 705.377 258.801 704.652 258.801L704.652 256.77L706.675 256.77L706.675 258.801ZM694.044 252.877C697.61 252.827 700.767 254.238 702.777 256.209L702.777 257.033L697.086 257.033C696.569 257.033 696.149 257.453 696.149 257.971C696.149 258.489 696.569 258.908 697.086 258.908L702.777 258.908L702.777 259.386C700.718 261.606 697.452 263.102 694.05 263.066C693.045 259.718 693.044 256.213 694.044 252.877ZM718.151 270.902C717.669 270.855 717.231 271.182 717.139 271.657C716.074 277.143 711.249 281.125 705.664 281.125C700.078 281.125 695.253 277.143 694.189 271.657C694.097 271.179 693.656 270.855 693.178 270.902C692.304 270.988 691.539 270.293 691.539 269.406C691.539 268.548 692.266 267.827 693.185 267.91C693.664 267.953 694.098 267.627 694.189 267.155C694.337 266.392 694.562 265.644 694.859 264.925C698.479 264.751 701.867 263.13 704.14 260.676L704.897 260.676C704.939 261.007 704.963 261.431 704.909 261.878C704.761 263.112 704.108 263.915 702.912 264.332C702.423 264.503 702.165 265.038 702.336 265.527C702.507 266.015 703.041 266.273 703.53 266.102C705.388 265.453 706.539 264.032 706.771 262.102C706.833 261.584 706.821 261.092 706.782 260.676L707.187 260.676C709.344 263.023 712.804 264.749 716.469 264.925C716.766 265.644 716.991 266.392 717.139 267.155C717.23 267.627 717.664 267.953 718.144 267.91C719.057 267.827 719.789 268.544 719.789 269.406C719.789 270.298 719.017 270.988 718.151 270.902Z"
                      fill="white"
                    ></path>
                    <path
                      d="M703.082 268.835C702.715 268.47 702.122 268.47 701.756 268.837C701.356 269.238 700.969 269.437 700.603 269.424C700.062 269.406 699.628 268.956 699.572 268.896L699.569 268.892C699.213 268.455 698.601 268.436 698.215 268.779C697.828 269.124 697.793 269.715 698.137 270.103C698.681 270.748 699.639 271.299 700.631 271.299C701.259 271.299 702.159 271.088 703.083 270.162C703.449 269.795 703.448 269.202 703.082 268.835Z"
                      fill="white"
                    ></path>
                    <path
                      d="M709.495 275.476C709.091 275.152 708.501 275.217 708.177 275.621C707.561 276.389 706.645 276.829 705.663 276.829C704.682 276.829 703.766 276.389 703.149 275.621C702.825 275.217 702.235 275.152 701.831 275.476C701.428 275.8 701.363 276.39 701.687 276.794C702.661 278.008 704.11 278.704 705.663 278.704C707.217 278.704 708.666 278.008 709.64 276.794C709.964 276.39 709.899 275.8 709.495 275.476Z"
                      fill="white"
                    ></path>
                  </g>
                </g>
                <defs>
                  <clipPath id="zr0-c0">
                    <path d="M0 0l1920 0l0 980l-1920 0Z" fill="#000"></path>
                  </clipPath>
                </defs>
              </svg>
            </div>
          </div>

          <div class="map__controls">
            <button
              class="button button-icon button-icon--control button--blur j_mapZoomIn"
              type="button"
            >
              <svg class="svg">
                <use xlink:href="svg/sprite.svg#plus2"></use>
              </svg>
            </button>

            <button
              class="button button-icon button-icon--control button--blur j_mapZoomOut"
              type="button"
            >
              <svg class="svg">
                <use xlink:href="svg/sprite.svg#minus2"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ./ End of container -->
</section>
<!-- ./ End of map -->
