<!-- menu -->
<section class="menu-section">
  <div class="container">
    <div class="menu__wrapper" data-scroll-lock-scrollable>
      <div class="menu">
        <div class="menu__wrap">
          <div class="menu__inner">
            <nav class="header-nav">
              <ul class="header-nav__list">
                <li class="header-nav__item">
                  <a href="#" class="header-nav__link"> Спецпредложения </a>
                </li>
                <li class="header-nav__item">
                  <a href="#" class="header-nav__link"> О комплексе </a>
                </li>
                <li class="header-nav__item">
                  <a href="#" class="header-nav__link"> Схема комплекса </a>
                </li>
                <li class="header-nav__item">
                  <a href="#" class="header-nav__link"> Услуги </a>
                </li>
                <li class="header-nav__item">
                  <a href="#" class="header-nav__link"> Контакты </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <div class="menu__footer">
        <div class="header__social-wrap">
          <a href="mailto:info@turbr.ru" class="header__social">
            <svg>
              <use xlink:href="svg/sprite.svg#message"></use>
            </svg>
            <span> info@turbr.ru </span>
          </a>
          <a href="https://wa.me/88005509180" class="header__social">
            <svg>
              <use xlink:href="svg/sprite.svg#whatsapp"></use>
            </svg>
            <span> WhatsApp </span>
          </a>
        </div>

        <div class="header__phone">
          <a href="tel:88005509180"> 8 800 550 91 80 </a>
          <span> по России бесплатно </span>
        </div>

        <button class="header__button button"> Забронировать </button>
      </div>
    </div>
  </div>
  <!-- ./ End of container -->
</section>
<!-- ./ End of menu -->
