<!-- offers -->
<section class="offers">
  <div class="offers__container">
    <div class="offers__slider">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            {{> components/card-offer }}
          </div>
        </div>
      </div>
    </div>
  </div> <!-- ./ End of container -->
</section> <!-- ./ End of offers -->