<!-- rooms -->
<section class="rooms-section">
  <div class="container container--lg">
    <div class="rooms">
      <div class="rooms__headline">
        <h2> Номерной фонд </h2>
        <span class="link"> Карта-схема </span>
      </div>

      <div class="rooms__wrapper">
        <div class="rooms-slider-wrapper">
          <div class="rooms-slider swiper-container">
            <div class="swiper-wrapper">
              <div class="rooms-slide swiper-slide">
                {{> ../components/card-room }}
              </div>
              <div class="rooms-slide swiper-slide">
                {{> ../components/card-room }}
              </div>
              <div class="rooms-slide swiper-slide">
                {{> ../components/card-room }}
              </div>
              <div class="rooms-slide swiper-slide">
                {{> ../components/card-room }}
              </div>
            </div>
          </div>

          <div class="slider-footer offers-slider-footer">
            <div
              class="slider-scrollbar rooms-slider-scrollbar swiper-scrollbar"
            >
            </div>

            <div class="slider-navigation rooms-slider-navigation">
              <button
                class="button button--white button-icon button-icon--prev"
                type="button"
              >
                <svg class="svg">
                  <use xlink:href="svg/sprite.svg#arrow-right"></use>
                </svg>
              </button>
              <button
                class="button button--white button-icon button-icon--next"
                type="button"
              >
                <svg class="svg">
                  <use xlink:href="svg/sprite.svg#arrow-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ./ End of container -->
</section>
<!-- ./ End of rooms -->
