<div class="card-room">
  <div class="card-room__banner">
    <div class="card-room-slider-wrapper">
      <div class="card-room-slider-inner">
        <div class="card-room-slider swiper-container">
          <div class="swiper-wrapper">
            <div class="card-room__slide swiper-slide">
              <div class="card-room__img-wrapper">
                <img
                  data-src="../../img/room-1.jpg"
                  alt=""
                  class="card-room__img swiper-lazy"
                />
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
            <div class="card-room__slide swiper-slide">
              <div class="card-room__img-wrapper">
                <img
                  data-src="../../img/room-2.jpg"
                  alt=""
                  class="card-room__img swiper-lazy"
                />
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
            <div class="card-room__slide swiper-slide">
              <div class="card-room__img-wrapper">
                <img
                  data-src="../../img/room-1.jpg"
                  alt=""
                  class="card-room__img swiper-lazy"
                />
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-room-slider-pagination swiper-pagination"></div>
    </div>
  </div>

  <div class="card-room__content">
    <div class="card-room__info">
      <div class="card-room__title">
        Двухместный стандарт — 20 номеров в домах срубах
      </div>
      <span data-modal-target="#modal-picture" class="link card-room__link">
        Показать на карте
      </span>
    </div>

    <div class="card-room__total">
      <div class="card-room__price"> от 2 390 ₽ </div>
      <button class="card-room__button button"> Забронировать </button>
    </div>
  </div>
  <!-- End card-room__content -->
</div>
<!-- End card-room -->
