<div class="card-service">
  <div class="card-service__wrapper">
    <div class="card-service__col card-service__col--25">
      <div class="card-service__info">
        <div class="card-service__number"></div>
        <div class="card-service__title"></div>
        <p class="card-service__descr"></p>
        <a href="#" class="card-service__link"></a>
      </div>
    </div>
    <div class="card-service__col card-service__col--75">
      <div class="card-service__banner">
        <img src="../../img/services/service-1.jpg" alt="">
      </div>
    </div>
  </div>
</div>