<div data-scroll data-scroll-speed="2" class="card-about">
  <div class="card-about__wrapper">
    <div class="card-about__banner">
      <img width="620" height="711" src="../../img/card-about.jpg" alt="" />
    </div>
    <div class="card-about__info">
      <div class="card-about__content">
        <p class="card-about__title h2">
          <span> Незабываемый отдых в горах </span>
        </p>
        <div class="card-about__descr">
          <p>
            Туристический комплекс «Белая река» — предлагает увлекательный отдых
            в красочных горах Адыгеи, с комфортабельным размещением в домиках в
            стиле древнего русского зодчества.
          </p>
          <p>
            Для гостей комплекса предоставляются двух- и четырехместные номера
            различного уровня комфортности, включая номера «Люкс». Для каждого
            номера разработан свой стильный интерьер. В номерах имеется
            благоустроенная ванная комната, холодильник, телевизор. Из окон
            домиков открывается великолепный вид на скалы Азиш-тау.
          </p>
          <p>
            Здесь созданы идеальные условия для корпоративного отдыха, для
            отдыха молодежи, семейных пар и родителей с детьми.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
