<div class="card-offer">
  <div class="card-offer__wrapper">
    <div class="card-offer__info">
      <div class="card-offer__content">
        <div class="card-offer__sale h1"> 20% </div>
        <div class="card-offer__title-wrapper">
          <p class="card-offer__title h2">
            при проживании от&#160;7-10 суток
          </p>
        </div>
        <p class="card-offer__descr">
          *предоставляется при единовременном бронировании на период от 7 до 10
          суток
        </p>
      </div>
    </div>
    <div class="card-offer__banner">
      <img width="1096" height="764" src="../../img/card-offer-1.jpg" alt="" />
    </div>
  </div>
</div>
