<aside class="restaurant__aside">
  <div class="restaurant__aside-wrap">
    <ul class="restaurant__aside-list">
      <li class="restaurant__aside-item active">
        <a href="#" class="restaurant__aside-link"> Холодные закуски </a>
      </li>
      <li class="restaurant__aside-item">
        <a href="#" class="restaurant__aside-link"> Горячие закуски </a>
      </li>
      <li class="restaurant__aside-item">
        <a href="#" class="restaurant__aside-link"> Салаты </a>
      </li>
      <li class="restaurant__aside-item">
        <a href="#" class="restaurant__aside-link"> Супы </a>
      </li>
      <li class="restaurant__aside-item">
        <a href="#" class="restaurant__aside-link"> Горячие блюда </a>
      </li>
      <li class="restaurant__aside-item">
        <a href="#" class="restaurant__aside-link"> Гарниры </a>
      </li>
      <li class="restaurant__aside-item">
        <a href="#" class="restaurant__aside-link"> Мучные блюда </a>
      </li>
      <li class="restaurant__aside-item">
        <a href="#" class="restaurant__aside-link">
          Блюда с адыгейским колоритом
        </a>
      </li>
      <li class="restaurant__aside-item">
        <a href="#" class="restaurant__aside-link"> Блюда на мангале </a>
      </li>
      <li class="restaurant__aside-item">
        <a href="#" class="restaurant__aside-link"> Соусы </a>
      </li>
      <li class="restaurant__aside-item">
        <a href="#" class="restaurant__aside-link"> Десерты </a>
      </li>
      <li class="restaurant__aside-item">
        <a href="#" class="restaurant__aside-link"> Холодные напитки </a>
      </li>
      <li class="restaurant__aside-item">
        <a href="#" class="restaurant__aside-link"> Горячие напитки </a>
      </li>
    </ul>
  </div>
</aside>
