<div class="restaurant__card">
  <div class="restaurant__card-wrap">
    <div class="restaurant__card-img">
      <img src="../../img/rest-1.jpg" alt="" />
    </div>
    <div class="restaurant__card-inner">
      <div class="restaurant__card-body">
        <h4 class="restaurant__card-title"> Мясная тарелка </h4>
        <div class="restaurant__card-weight"> 180 г </div>
      </div>

      <div class="restaurant__card-footer">
        <em class="restaurant__card-price"> 350 ₽ </em>
        <div class="restaurant__card-button">
          <a href="#" class="button"> подробнее </a>
        </div>
      </div>
    </div>
  </div>
</div>
