/* Colors */
$white: #fff;
$black: #000;
$red: #e60000;
$gray: #666;
$gray-light: #999;
$gray-dark: #444;
$accent: #2d376a;
$green: #008000;

$primary-default: #3d6d8f;
$primary-hover: #19486a;
$primary-active: #19486a;
$primary-disable: #5d7586;
$primary-gradient: linear-gradient(180deg, #3d6d8f 0%, #19486a 100%);
$secondary-1: #f4f7fe;
$secondary-2: #e1e9f8;
$secondary-3: #c9d4ea;
$secondary-4: #b0bbd5;
$secondary-5: #8f9bba;
$secondary-6: #68769f;
$secondary-7: #485585;
$secondary-8: #2d396b;
$secondary-9: #1b2559;
$success: #01b574;
$error: #e04245;
$progress: #f2994a;
$bg-main: #deebf4;
$blue: #446de1;

$ripple-default: radial-gradient(
  rgba(var(--primary-hover-rgb), 1) 0,
  rgba(var(--primary-hover-rgb), 1) 40%,
  rgba(var(--primary-hover-rgb), 1) 50%,
  rgba(var(--primary-hover-rgb), 1) 60%,
  rgba(var(--primary-hover-rgb), 1) 70%
);

$ripple-secondary: radial-gradient(
  rgba(var(--primary-hover-rgb), 0.2) 0,
  rgba(var(--primary-hover-rgb), 0.3) 40%,
  rgba(var(--primary-hover-rgb), 0.4) 50%,
  rgba(var(--primary-hover-rgb), 0.5) 60%,
  rgba(var(--primary-hover-rgb), 0) 70%
);

/* Global */
// media
$desktop-sm: 1200px;
$tablet: 1100px;
$touch: 900px;
$phone: 600px;
$phone-sm: 350px;

// container
$container-max-width: calc(1470px + 2rem);
$container-padding: 0 1rem;

// section
$section-padding: 60px 0;
$section-padding-tablet: 40px 0;
$section-padding-phone: 20px 0;

/* Typography */
// h1
$h-one-font: $main-font;
$h-one-font-size: 4rem;
$h-one-font-size-sm: 1.875rem;
$h-one-font-weight: normal;
$h-one-line-height: 1.125;
$h-one-color: currentColor;
$h-one-margin: 0 0 2.375rem;

// h2
$h-two-font: $main-font;
$h-two-font-size: 3rem;
$h-two-font-size-sm: 1.875rem;
$h-two-font-weight: normal;
$h-two-line-height: 1.333;
$h-two-color: currentColor;
$h-two-margin: 0 0 1.5rem;

// h3
$h-three-font: $main-font;
$h-three-font-size: 3rem;
$h-three-font-size-sm: 1.4375rem;
$h-three-font-weight: normal;
$h-three-line-height: 1.5;
$h-three-color: currentColor;
$h-three-margin: 10px 0;

// h4
$h-four-font: $main-font;
$h-four-font-size: 1.75rem;
$h-four-font-size-sm: 1.25rem;
$h-four-font-weight: bold;
$h-four-line-height: 1.5;
$h-four-color: currentColor;
$h-four-margin: 5px 0;

// ------- End my styles for this project

// h5
$h-five-font: $main-font;
$h-five-font-size: 1.125rem;
$h-five-font-size-sm: 1.125rem;
$h-five-font-weight: bold;
$h-five-line-height: 1.3;
$h-five-color: currentColor;
$h-five-margin: 5px 0;

// h6
$h-six-font: $main-font;
$h-six-font-size: 1rem;
$h-six-font-size-sm: 1rem;
$h-six-font-weight: bold;
$h-six-line-height: 1.3;
$h-six-color: currentColor;
$h-six-margin: 5px 0;

/* UI */
// button
$button-font: $main-font;
$button-font-size: 12px;
$button-font-weight: normal;
$button-line-height: 1.667;
$button-border-width: 0;
$button-border-radius: 25px;
$button-padding: 12px 2.695em;
$button-padding-sm: 12px 2.695em;
$button-min-width: auto;
$button-margin: 5px;

$button-small-min-width: initial;
$button-small-padding: 0.625em 1.25em;
$button-small-font-size: 12px;

$button-big-min-width: 220px;
$button-big-padding: 1.5em 1.75em;
$button-big-font-size: 1rem;

// input
$input-font: $main-font;
$input-font-size: 16px;
$input-font-weight: 300;
$input-line-height: 1.5;
$input-color: $secondary-9;
$input-color-placeholder: $secondary-4;
$input-border-width: 1px;
$input-border-radius: 8px;
$input-border-color: $secondary-4;
$input-border-color-hover: $primary-hover;
$input-border-color-focus: $primary-hover;
$input-padding: 0.625em 1em;
$input-padding-sm: 0.625em 1em;
$input-bg-color: $white;
$input-margin: 5px;
$input-focus: 0 0 20px
  rgba(
    $color: $black,
    $alpha: 0.4,
  );

// textarea
$textarea-padding: 1em 1.25em;
$textarea-padding-sm: 0.75em 1em;
$textarea-height: 100px;
$textarea-margin: 5px;

// checkbox
$checkbox-font: $main-font;
$checkbox-font-size: 17px;
$checkbox-font-weight: normal;
$checkbox-line-height: 1.2;
$checkbox-color: currentColor;
$checkbox-link-color: var(--primary-default);
$checkbox-link-color-hover: var(--primary-hover);
$checkbox-link-text-decoration: none;
$checkbox-link-text-decoration-hover: none;
$checkbox-bg-color: transparent;
$checkbox-bg-color-active: var(--primary-default);
$checkbox-size: 16px;
$checkbox-icon-size: 14px;
$checkbox-icon-color: var(--white);
$checkbox-border: none;
$checkbox-border-radius: 4px;
$checkbox-margin: 5px 0;
$checkbox-custom-margin: 0 6px 0 0;

// radio
$radio-size: 16px;
$radio-border-radius: 50%;
$radio-margin: 5px 0;
$radio-custom-margin: 0 6px 0 0;
$radio-bg-color: $white;
$radio-bg-color-active: $white;
$radio-icon-size: 16px;
$radio-icon-bg-color: var(--primary-default);
